<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357457456413-8m342skj05c8ner5mh4enjf606u8c9vr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357457456413-8m342skj05c8ner5mh4enjf606u8c9vr</string>
	<key>API_KEY</key>
	<string>AIzaSyAZxjFMu3XMeYIkQtMwbp3vazUFjn6vUL4</string>
	<key>GCM_SENDER_ID</key>
	<string>357457456413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iot</string>
	<key>PROJECT_ID</key>
	<string>amst-project-e3d8b</string>
	<key>STORAGE_BUCKET</key>
	<string>amst-project-e3d8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357457456413:ios:d8ca057f46713b3c1b45f4</string>
	<key>DATABASE_URL</key>
	<string>https://amst-project-e3d8b-default-rtdb.firebaseio.com</string>
</dict>
</plist>